#gameboard{
height: 100%;
width: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.grid {
    height: 320px;
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(109, 127, 151, 0.5);
    padding:5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
    color: #85796b;
}

.grid div {
    margin: 1px;
    height: 36px;
    width: 36px;
    border: solid 1px;
    border-color: black;
}

h3 {
 font-family: "Lexend";
 font-size: 22px;
 margin: 10px;
 text-transform: uppercase;
}

h1 {
 font-family: "Montserrat", sans-serif;
 text-transform: uppercase;
 margin-top: -10px;
}

.invisible {
    background-color: white;
}

body {
  background-color: pink;
  height: 100vh;
  width: 100%;
  display: flex;
}

.score-board {
  background-color: pink;
  border-radius: 10px;
  margin-top: 200px;
  margin-left: 200px;
  margin-bottom: 350px;
  min-width: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#FFB6C1, #FFC0CB);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  color: #85796b;
}

.ngbSection{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ng_button{
    height: 100px;
    width: 210px;
    font-family: "Lexend";
    font-size: 28px;
    margin: 10px;
}

.left-side{
    position: relative;
    height: 100%;
    width: 25%;
}

.title{
height: 50%;
}

.button{
height: 50%
}

.right-side{
    position: relative;
    height: 100%;
    width: 25%;
}
.arrows{
height: 50%;
width: 100%;
}

.arrow{
    height: 46px;
    width: 46px;
    height: 60px;
    width: 60px;
    border-radius: 15%;
    margin: 20px;
    margin-right: 40px;
}


.arrCont{
height: 20%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.moveSection{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#moveInput{
    width: 80px;
    height: 65px;
}